@media screen and (min-width: 575px) {

    .site-container {
      width: 100%;
    }

    .spacer {
      height: 10rem;
    }

    .mobile-menu-container {
      visibility: hidden;
    }

    .desktop-menu-container {
        visibility: visible;
    }


    section {
      width: 70%;
      margin: auto;
    }

    .teal-circle {
      visibility: hidden;
    }

    .featured-work {
      width: 98%;
      margin: auto;
    }

    .review {
      width: 100%;
      margin: auto;
    }

    .hero {
      display: flex;
      flex-direction: column;
      padding-top: 8rem;
    }

    .hero p {
      padding-right: 35%;
      padding-bottom: 10rem;
    }

    .container section:not(:first-child) {
      margin-bottom: 10rem;
    }

    .container section section:last-child {
      margin-bottom: 0;
    }

    .project-card {
      width: 100%;
      display: flex;
    }

    .design-steps {
      display: flex;
      flex-direction: column;
    }

    .step-1, .step-2, .step-3, .step-4 {
      padding: 0 1rem 4rem 0;
    }

    .step-1-2, .step-3-4 {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;
    }

    .design-steps {
      background-image: url("../assets/img/teal-circle-no-shadow.svg");
      background-size: 30rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    .review-container {
      padding: 4rem 6rem 4rem 6rem;
      margin: auto;
      }

    blockquote {
      width: 80%;
      margin: auto;
      padding-top: 3rem;
    }

    .reviewer {
      width: 80%;
      margin-top: 1.5rem;
    }


    .quotation-mark-left, .quotation-mark-right {
      width: 2.4rem;
    }

    .quotation-mark-left {
      float: left;
      margin-left: 6rem;
      margin-top: 3rem;
    }

    .quotation-mark-right {
      float: right;
    }

    button {
      width: 30%;
    }

    .footer ul {
      padding-top: 2rem;
    }

    /* About page starts here */

    .about-hero-content {
      width: 70%;
      padding-top: 4rem;
      background-color: red;
    }

    .brazil, .iceland {
      display: none;
    }

    .travel-img {
      display: flex;
    }

    .rga1, .rga2 {
      height: 5%;
      padding-right: 1rem;
    }

    .rga-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    .aerial {
      padding-left: 1rem;
      padding-top: 0;
    }

    .aerial-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    /* Project-1 starts here  */
    .project-hero {
      width: 100%;
    }

    .product-logo {
      padding: 1rem .7rem 2rem 0;
    }

    .product-shot {
      margin: 0 auto;
    }

    .project-image {
      width: 100%;
      margin: 3rem 0 2rem 0;
    }

    .project-hero h2 {
      width: 60%;
      margin: auto;
    }

    .summary-list-flex-group {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
    }

    .summary-list:not(:last-child) {
      margin-right: 4rem;
    }

    .summary-list {
      margin-top: 0rem;
    }

    .summary-list h3 {
      margin-top: 0;
      padding: 0 2rem 1rem 2rem;
    }

    .summary-list li {
      font-size: 1.7rem;
    }

    .button-container {
      margin-top: 4rem;
    }

    .user-survey-flex-container, .research-highlights,
    .competitive-analysis-flex-container, .target-audience-flex-container,
    .personas, .user-stories-flex-container, .user-flow-flex-container,
    .wireframe-sub-section, .early-testing-flex-container, .moodboard-flex-container,
    .color-typography-flex-container, .logo-flex-container, .a-b-testing-content, .a-b-testing-group,
    .hi-fi-testing-content {
      margin-bottom: 12rem;
    }

    .user-testing {
      width: 100%;
    }

    .research-sub-section, .information-arch-sub-section,
    .hi-fi-testing-content, .hi-fi-testing-intro,
    .hi-fi-testing-changes {
      width: 70%;
      margin: 0 auto;
    }

    .hi-fi-testing-content {
      margin-bottom: 5rem;
    }

    .user-survey-img {
      visibility: hidden;
    }

/* user story icons */
    .fig-row img {
      width: 20%;
    }

/* group of persona icons */
    .fig-row-users {
      width: 70%;
    }

/* individual persona icons */
    .persona-icon {
      margin: 0 2rem 0 2rem;
    }

/* competitor icons */
    .fig-row-competitive {
      width: 80%;
      margin-bottom: 2rem;
    }

    .persona-icon-2 {
      margin-top: 5rem;
    }

/* persona photos */
     .persona-img {
      margin-top: 1rem;
      width:
    }

    .persona-group-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      width: 70%;
      margin: 0 auto;
    }

/* indvidual user story icons */
    .user-story img {
      width: 40%;
      margin: 0 auto;
    }

    .user-story figcaption {
      width: 60%;
      margin: 0 auto;
    }

    .double-button-flex {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    .double-button-flex button {
      width: 70%;
    }

    .double-button-flex, .button-container {
      margin-top: 1rem;
    }

    .wireframe-sub-section {
      width: 100%;
    }

     .wireframe-flex-container {
      padding: 1rem;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
      width: 70%;
    }

     .wireframe-group-flex-container {
       padding: 1rem;
       display: flex;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-flex-direction: row;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
       margin: 0 auto;
       width: 100%;
       justify-content: center;
    }

    .wireframe-img {
      width: 48%;
    }


    .centered-caption {
      text-align: center;
    }

    .early-testing-fig-flex-container .project-image {
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .1);
    }

    .color-palette .project-image {
      margin: 0 auto;
      width: 70%;
    }


    .a-b-testing-content {
      width: 70%;
      margin: 0 auto;
    }

    .a-b-results {
      width: 70%;
      margin: 0 auto;
    }

    .a-b-flex-container {
      padding: 1rem;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
     }

      .option-a, .option-b {
       width: 48%;
       justify-content: center;
    }

    .option-a, .option-b p {
      text-align: center;
    }

    .user-testing-img {
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .1);
    }

    .testing-1-fig-flex-container,
    .testing-2-fig-flex-container,
    .testing-3-fig-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
     }

    .rotated-arrow {
       height: 20%;
       transform: rotate(270deg);
       width: 10%;
       margin: 4rem;
     }

    .testing-2-before,
    .testing-2-after {
       width: 35%;
       justify-content: center;
    }

    .final-prototype {
      width: 100%;
    }

    .prototype-sub-section {
      width: 70%;
      margin: 0 auto;
    }

    .prototype-flex-container {
     padding: 1rem;
     display: flex;
     display: -webkit-flex;
     flex-direction: row;
     -webkit-flex-direction: row;
     flex-wrap: wrap;
     -webkit-flex-wrap: wrap;
     margin: 0 auto;
     width: 100%;
   }

    .prototype-flex-container img {
      width: 48%;
      justify-content: center;
      margin-bottom: 1rem;
   }



}


@media screen and (min-width: 991px) {
    html {

      font-size: 10px;
    }

  /* Section & container sizes */
    .site-container {
      width: 100%;
    }

    .container section:not(:first-child) {
        margin-bottom: 15rem;
    }

    .container section section:last-child {
      margin-bottom: 0;
    }

    section {
      width: 70%;
      background-color: yellow;
    }

    .teal-circle {
      visibility: visible;
      width: 100%;
      height: 100%;
      margin: 0 2rem 0 3rem;
    }

    .flex-hero {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    .hero p {
      padding-right: 0;
      padding-bottom: 10rem;
    }

    .featured-work h3 {
      padding-bottom: 6rem;
    }

    .design-process {
      width: 75%;
    }

    .footer  {
      width: 100%;
    }

/* hero content starts here */
  .hero-content {
    padding-top: 9rem;
      flex-grow: 1;
    }

    .hero-image {
      padding-right: 5rem;
      width: 70%;
    }


    .hero-image {
      display: flex;
    }

    .scroll-down-arrow {
      padding-top: 3rem;
      width: 100%;
    }

/* Design process content starts here */
  .design-steps {
    background-image: url("../assets/img/teal-circle-no-shadow.svg");
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  .step-1-2, .step-3-4 {
    margin-bottom: 3rem;
  }

  .step-1, .step-2, .step-3, .step-4 {
    padding: 0 5rem 5rem 0;
    margin-left: 5rem;
  }

  .step-2, .step-4 {
    margin-left: 5rem;
  }

/* review content starts here */
  .review {
    width: 100%;
    display: inline-block;
    margin: 0;
  }

  .review-container {
    position: relative;
    display: block;
    padding: 6rem 9rem 6rem 9rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .review-1 {
    max-width: 120rem;
  }

  /* footer content starts here */
  .back-to-top-arrow  {
    visibility: hidden;
  }

  /* About content starts here */

.about-section {
  max-width: 700px;
  }

  .about-hero-image img {
    visibility: hidden;
    /* height: 0; */
  }

  .about-hero-image {
    background-image: url("../assets/img/headshot-2000w.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* project starts here  */

    .section-header {
      height: 17rem;
      margin-left: -1rem;
      padding-bottom: 1rem;
    }

    .project-hero h2 {
      width: 40%;
      max-width: 600px;
      margin: auto;
    }

    .summary-list:not(:last-child) {
      margin-right: 10rem;
    }

    .project-image {
      margin: 1rem 0 2rem 0;
    }


    .project-summary {
      width: 90%;
    }

    .problem-solution-flex-container {
      width: 100%;
      background-color: blue;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    .problem-solution-flex-container h3 {
      background-color: green;
      width: 85%;
    }

    .problem-solution-flex-container p {
      background-color: red;
      width: 85%;
    }

    .problem-solution-flex-container li {
      background-color: teal;
      width: 85%;
    }

    .landing-page {
      flex-grow: 2;
      width: 190%;
    }



    .research-sub-section,
    .information-arch-sub-section,
    .branding, .hi-fi-testing-content,
    .hi-fi-testing-changes {
      width: 90%;
    }


/* All sections row-reversed showing
content on right side */
    .user-survey-flex-container,
    .target-audience-flex-container,
    .user-flow-flex-container,
    .early-testing-flex-container,
    .logo-flex-container,
    .testing-2-flex-container {
      width: 100%;
      background-color: red;
      display: flex;
      display: -webkit-flex;
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }


/* All sections showing content on left side,
plus moodboard because image comes before text */
    .competitive-analysis-flex-container,
    .user-stories-flex-container,
    .wireframe-flex-container,
    .moodboard-flex-container,
    .color-typography-flex-container,
    .testing-1-flex-container,
    .testing-3-flex-container {
      width: 100%;
      background-color: teal;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }

/* content on right and left side */
    .target-audience-content,
    .user-flow-content,
    .early-testing-content,
    .branding-content,
    .color-typography-content,
    .logo-content,
    .a-b-testing-content, .testing-1-content,
    .testing-2-content, .testing-3-content {
      width: 50%;
      max-width: 650px;
    }

    .user-survey-content {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      width: 70%;
      max-width: 650px;
      margin-left: 10%;
    }

    .competitive-analysis-content,
    .user-stories-content {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    .persona-content {
      width: 50%;
      max-width: 650px;
      margin: 0;
    }

    .hi-fi-testing-intro,
    .hi-fi-testing-sub-section,
    .a-b-testing-content,
    .hi-fi-testing-content,
    .prototype-sub-section {
      width: 50%;
      margin-left: 5%;
    }


/* figures on right side */
    .user-survey-figure {
      flex-grow: 1;
    }



/* Figures on left side */
    .early-testing-content {
      padding-top: 1rem;
    }

    .user-flow-figure,
    .early-testing-fig-flex-container,
    .branding-figure,
    .logo-figure {
      width: 40%;
      margin-right: 6rem;
    }

    .fig-row-users {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      width: 15%;
      flex-grow: 1;
    }

    .user-survey-img {
      visibility: visible;
      width: 100%;
      height: 100%;
    }

    .fig-row {
      /* display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; */
      width: 40%;
    }

    .fig-row-competitive {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      width: 40%;
    }

    .competitors {
      width: 20%;
    }

    .branding-content {
      padding-top: 10rem;
    }

    .color-typography-content {
      padding-top: 15rem;
    }

    .persona-icon {
      width: 11rem;
      margin: 3rem auto;
    }

    .persona-icon-2 {
      margin: 0 0 0 8rem;
    }

    .persona-group-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      width: 100%;
      margin: 0 auto;
    }

    .persona-1, .persona-2 {
      /* flex-grow: 1; */
      width: 35%;
      margin: 3rem auto;
    }

    .persona-text {
      margin-top: 0;
      padding-top: 0;
    }

    .wireframe-flex-container {
     padding: 1rem;
     display: flex;
     display: -webkit-flex;
     flex-direction: row;
     -webkit-flex-direction: row;
     flex-wrap: wrap;
     -webkit-flex-wrap: wrap;
     margin-bottom: 12rem;
     width: 90%;
   }

   .wireframe-content {
    width: 50%;
   }

   .wireframe-figure {
     width: 45%;
     padding-top: 8rem;
     margin-left: 4rem;
     background-color: orange;
   }

   .color-typography-figure {
     width: 45%;
     margin-left: 4rem;
     background-color: orange;
   }

    .wireframe-group-flex-container {
      padding: 1rem;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
      width: 100%;
      justify-content: center;
   }

   .a-b-results {
      width: 50%;
      margin: 0 auto;
    }

    .testing-1-fig-flex-container,
    .testing-3-fig-flex-container {
      width: 45%;
     }

     .testing-2-fig-flex-container {
       display: flex;
       display: -webkit-flex;
       flex-direction: column;
       -webkit-flex-direction: column;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
       width: 45%;
     }

     /* .testing-2-after,
     .testing-2-before {
        width: 60%;
     } */


/* Haven't decided how to handle the desktop
arrows - need to hide the ones from before? */
     .rotated-arrow {
        height: 20%;
        transform: rotate(360deg);
        width: 10%;
        margin: 4rem;
      }



}

@media screen and (min-width: 1199px) {
  html {
    font-size: 12px;
  }

/* Section & container sizes */
  .site-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .container section:not(:first-child) {
      margin-bottom: 15rem;
  }

  .container section section:last-child {
    margin-bottom: 0;
  }

  .project-card {
    width: 75%;
    margin: auto;
  }

  .design-steps {
    max-width: 110rem;
    margin: auto;
  }

  .step-1-2, .step-3-4 {
    margin-bottom: 0;
  }

  .step-1, .step-2, .step-3, .step-4 {
    padding: 0 5rem 5rem 0;
    margin-left: 6rem;
    max-width: 500px;
  }

  .review-container {
    max-width: 1400px;
    margin: auto;
    }


    /* Project starts here  */

    .user-survey-content {
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      width: 60%;
      max-width: 650px;
      margin-left: 8%;

    }

}
