@media screen and (max-height: 600px) {
.scroll-down-arrow {
    visibility: hidden;
  }
}


@media screen and (min-width: 575px) {

    .site-container {
      width: 100%;
    }

    .spacer {
      height: 9rem;
    }

    .mobile-menu-container {
      visibility: hidden;
    }

    .desktop-menu-container {
        visibility: visible;
    }


    section {
      width: 70%;
      margin: auto;
    }


    .problem-solution, .design-process-current {
      width: 70%;
      margin: auto;
    }


    .teal-circle {
      visibility: hidden;
    }

    .featured-work {
      width: 98%;
      margin: auto;
    }

    .review {
      width: 100%;
      margin: auto;
    }

    .hero {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      padding-top: 8rem;
    }

    .hero p {
      padding-right: 35%;
      padding-bottom: 10rem;
    }

    .container section:not(:first-child) {
      margin-bottom: 10rem;
    }

    .container section section:last-child {
      margin-bottom: 0;
    }

    .project-card {
      width: 100%;
    }

    .design-steps {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
    }

    .step-1, .step-2, .step-3, .step-4 {
      padding: 0 1rem 4rem 0;
    }

    .step-1-2, .step-3-4 {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      margin-bottom: 2rem;
    }

    .step-1-2 > div, .step-3-4 > div {
      width: 50%;
    }

    .design-steps {
      background-image: url("../assets/img/teal-circle-no-shadow.svg");
      background-size: 30rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    .review-container {
      padding: 4rem 6rem 4rem 6rem;
      margin: auto;
      }

    blockquote {
      width: 80%;
      margin: auto;
      padding-top: 3rem;
    }

    .reviewer {
      /* width: 80%; */
      margin-top: 3rem;
    }


    .quotation-mark-left, .quotation-mark-right {
      width: 2.4rem;
    }

    .quotation-mark-left {
      float: left;
      margin-left: 6rem;
      margin-top: 3rem;
    }

    .quotation-mark-right {
      float: right;
      margin-right: 0;
    }

    button {
      padding: 1.2rem 2rem 1.2rem 2rem;
      font-size: 1.5rem;
      width: fit-content;
      width: -moz-fit-content;
    }


    .footer ul {
      padding-top: 2rem;
    }

/* Attribution page starts here */
    section.attribution {
      padding: 15rem 0 10rem 0;
      width: 70%;
    }

    .attribution-flex {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin-bottom: 12rem;
    }

    .attr-logo {
      margin: 0 4rem 4rem 0;
      width: 12rem;
    }

    /* About page starts here */

    .about-hero-content {
      width: 70%;
      margin: 0 auto;
      padding-top: 4rem;
    }

    .brazil, .iceland {
      display: none;
    }

    .travel-img {
      display: flex;
      display: -webkit-flex;
    }

    .rga1, .rga2 {
      height: 5%;
      padding-right: 1rem;
      width: 50%;
    }

    .rga-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }


    /* Project-1 starts here  */
    .project-hero {
      margin-top: 6rem;
      width: 100%;
    }

    .product-logo {
      padding: 1rem .7rem 3rem 0;
    }

    .product-logo-current {
      height: 24rem;
    }

    .product-shot {
      margin: 0 auto;
      padding-top: 3rem;
    }

    .project-image {
      width: 100%;
      margin: 1rem 0 1rem 0;
    }

    .project-hero h2 {
      width: 60%;
      margin: auto;
    }

    .summary-list-flex-group {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
    }

    .summary-list:not(:last-child) {
      margin-right: 4rem;
    }

    .summary-list {
      margin-top: 0rem;
    }

    .summary-list h3 {
      margin-top: 0;
      padding: 0 2rem 1rem 2rem;
    }

    .summary-list li {
      font-size: 1.7rem;
    }

    .button-container {
      margin-top: 4rem;
    }

    .user-survey-flex-container, .research-highlights,
    .competitive-analysis-flex-container, .target-audience-flex-container,
    .personas, .user-stories-flex-container, .user-flow-flex-container,
    .wireframe-sub-section, .early-testing-flex-container, .moodboard-flex-container,
    .color-typography-flex-container, .a-b-testing-content, .a-b-testing-group,
    .hi-fi-testing-content {
      margin-bottom: 12rem;
    }

    .user-testing {
      width: 100%;
    }

    .research-sub-section, .information-arch-sub-section,
    .hi-fi-testing-content, .hi-fi-testing-intro,
    .hi-fi-testing-changes, .prototype-intro {
      width: 70%;
      margin: 0 auto;
    }

    .hi-fi-testing-content {
      margin-bottom: 5rem;
    }

    .user-survey-img {
      visibility: hidden;
    }

/* user story icons */
    .fig-row-stories img {
      width: 20%;
      padding-bottom: 2rem;
    }

/* group of persona icons */
    .fig-row-users {
      width: 70%;
      margin: 0 auto;
    }


/* Research highlights section */

  .research-highlights h4 {
      font-size: 1.9rem;
    }

    p.research-insights {
      font-size: 1.6rem;
    }

    .trend-stat {
      padding: 0;
    }

  .pie-chart {
    width: 25%;
    padding: 1rem;
  }

  p.large-stat {
    font-size: 4rem;
   }

  .storage-trends-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }

  .storage-reasons-flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .bar-graph {
    width: 55%;
  }

  .demographics-flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
  }

  .industry-data, .gender-data {
    width: 50%;
  }


/* competitor icons */
    .fig-row-competitive {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 2rem;
    }

    .competitors {
      width: 20%;
      margin: 0 2rem 0 2rem;
    }

    .persona-icon-2 {
      margin-top: 5rem;
    }

/* persona photos */
     .persona-img {
      margin-top: 1rem;
      width:
    }

    .persona-group-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      /* width: 70%; */
      margin: 0 auto;
    }

    .persona-1, .persona-2 {
      width: 46%;
    }

    .persona-group-flex-container div:not(:last-child) {
      margin-right: 6rem;

    }

/* indvidual user story icons */
    .user-story img {
      width: 40%;
      margin: 0 auto;
    }

    .user-story figcaption {
      width: 60%;
      margin: 0 auto;
    }

    .user-flow-figure {
      margin-top: 6rem;
    }

    .double-button-flex {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      justify-content: center;
    }

    .double-button-container {
      margin-right: 5rem;
    }

    .double-button-flex, .button-container {
      margin-top: 1rem;
    }

    .wireframe-sub-section {
      width: 100%;
    }

     .wireframe-flex-container {
      padding: 1rem;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
      width: 70%;
    }

     .wireframe-group-flex-container {
       padding: 1rem;
       display: flex;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-flex-direction: row;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
       margin: 0 auto;
       width: 100%;
       justify-content: center;
     }

      .wireframe-img {
        width: 48%;
        display: flex;
        display: -webkit-flex;
      }

      .arrow {
        padding: .5rem;
        width: 7%;
      }


      .centered-caption {
        text-align: center;
      }

      .wireframe-figure {
        width: 100%;
        margin: auto;
        padding: 2rem 0 2rem 0;
      }

      .early-testing-content {
        padding-bottom: 3rem;
      }

      .early-testing-fig-before,
      .early-testing-fig-after {
        width: 70%;
        margin: 0 auto;
      }


      .color-typography-figure,
      .logo-figure {
        margin: 0 auto;
        width: 70%;
      }

      .gray-background {
        padding: 1rem 0 0 0;
      }

      .a-b-testing-content {
        width: 70%;
        margin: 0 auto;
      }

      .a-b-results {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 5.5rem;
      }

      .a-b-flex-container {
        padding: 1rem;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        margin: 0 auto;
        padding-top: 3rem;
       }

      .option-a, .option-b {
         width: 48%;
         justify-content: center;
      }

      .user-testing-img {
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .1);
      }

      .testing-1-fig-flex-container,
      .testing-2-fig-flex-container,
      .testing-3-fig-flex-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        /* width: 80%; */
       }


      .rotated-arrow {
         height: 20%;
         transform: rotate(270deg);
         margin-right: 4rem;
       }

      .testing-2-before,
      .testing-2-after {
         width: 35%;
         justify-content: center;
      }

      .final-prototype {
        width: 100%;
      }

      .prototype-sub-section {
        width: 50%;
        margin: 0 auto;
      }

      .design-decision-headers {
        padding-top: 5rem;
      }

      .prototype-flex-container {
       padding: 1rem;
       display: flex;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-flex-direction: row;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
       margin: 0 auto;
       width: 100%;
     }

      .prototype-flex-container img {
        width: 48%;
        justify-content: center;
        margin-bottom: 1rem;
     }

     /* Bus */

     .competition {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(auto-fill, minmax(auto, auto));
       grid-gap: 2rem;
     }

     .competition-img img {
       width: 50%;
     }

     .competition:not(:last-child) {
       margin-bottom: 5rem;
     }

     .competition-img {
       grid-column: 1 / 3;
       grid-row: 1 / 2;
     }

     .competition-strengths {
       grid-column: 1 / 1;
       grid-row: 2 / 3;
     }

     .competition-weaknesses {
       grid-column: 2 / 3;
       grid-row: 2 / 3;
     }

     .competition-opportunities {
       grid-column: 1 / 1;
       grid-row: 4 / 5;
     }

     .competition-threats {
       grid-column: 2 / 3;
       grid-row: 4 / 5;
     }

     .bus-paper-prototypes {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr;
       grid-gap: 7rem;
       text-align: left;
       padding: 2rem;
     }

     .bus-paper-prototype-1 {
       grid-column: 1 / 2;
       grid-row: 1 / 1;
     }

     .bus-paper-prototype-2 {
       grid-column: 2 / 3;
       grid-row: 1 / 1;
     }

     .bus-paper-prototype-3 {
       grid-column: 3 / 3;
       grid-row: 1 / 1;
     }

     .bus-paper-prototype {
       width: 100%;
       margin-bottom: 3rem;
     }

     .bus-design-decision-desktop {
       display: block !important;
     }

     .bus-design-decision-mobile {
       display: none !important;
     }

     .project-card {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
       grid-gap: 1.5rem;
     }

     .project1 {
       grid-column: 1 / 2;
       grid-row: 1 / 2;
     }

     .project2 {
       grid-column: 2 / 2;
       grid-row: 1 / 2;
     }

     .project3 {
       grid-column: 1 / 2;
       grid-row: 2 / 2;
     }
}



@media screen and (min-width: 750px) {
  .app-feature-flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    margin: 0 auto;
    width: 100%;
    padding: 3rem 0 8rem 0;
  }

  .project-tagline {
    font-size: 2.2rem;
    line-height: 3.3rem;
  }
}


@media screen and (min-width: 991px) {
    html {

      font-size: 10px;
    }

  /* Section & container sizes */
    .site-container {
      width: 100%;
    }

    .container section:not(:first-child) {
        margin-bottom: 15rem;
    }

    .container section section:last-child {
      margin-bottom: 0;
    }

    section {
      width: 70%;
    }

    .teal-circle {
      visibility: visible;
      width: 100%;
      height: 100%;
      max-width: 450px;
      float: right;
      margin: 0 0 0 3rem;
    }

    .flex-hero {
      margin-top: 10%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
      align-items: center;
    }

    .hero p {
      padding-right: 0;
      padding-bottom: 10rem;
    }

    .featured-work h3 {
      padding-bottom: 6rem;
    }

    .design-process {
      width: 75%;
    }

    .footer  {
      width: 100%;
    }

/* hero content starts here */
    .hero {
      padding-top: 2rem;
    }

    .hero-content {
      padding-top: 4rem;
      flex-grow: 1;
      }

    .hero-image {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-grow: 1;
    }

    .featured-work {
      margin-top: 10rem;
    }

    .design-process {
      margin-top: 5rem;
    }

    .design-steps {
      background-image: url("../assets/img/teal-circle-no-shadow.svg");
      background-size: 40rem;
      background-position: center;
      background-repeat: no-repeat;
    }

    .step-1-2, .step-3-4 {
      margin-bottom: 3rem;
    }

    .step-1, .step-2, .step-3, .step-4 {
      padding: 0 5rem 5rem 0;
      margin-left: 5rem;
    }

    .step-2, .step-4 {
      margin-left: 5rem;
    }

  /* review content starts here */
    .review {
      width: 100%;
      display: inline-block;
      margin: 0;
    }

    .review-container {
      position: relative;
      display: block;
      padding: 6rem 9rem 6rem 9rem;
      overflow: hidden;
      margin-left: auto;
      margin-right: auto;
    }

    .review-1 {
      max-width: 120rem;
    }

    /* footer content starts here */
    .back-to-top-arrow  {
      visibility: hidden;
    }

    /* Attribution page starts here */
        section.attribution {
          width: 50%;
          max-width: 680px;
          margin: 0 auto;
        }

    /* About content starts here */

    .about-hero-content {
      width: 50%;
      padding: 10% 0 3% 6%;
      float: left;
    }

    .short-bio {
      width: 80%;
    }

    .about-background {
      margin-top: 10rem;
    }

    .about-section {
      max-width: 700px;
    }

    .about-hero-image img {
      visibility: hidden;
      height: 0;
    }

    .about-hero-image {
      background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../assets/img/headshot-2000w.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      height: 70vh;
      min-height: 750px;
    }

  /* project starts here  */

    .section-header {
      height: 17rem;
      margin-left: -1rem;
      padding-bottom: 1rem;
    }

    .project-hero h2 {
      width: 40%;
      max-width: 600px;
      margin: auto;
    }

    .summary-list:not(:last-child) {
      margin-right: 10rem;
    }

    .project-image {
      margin: 0 0 1rem 0;
    }

    .project-summary {
      width: 90%;
    }

    .problem-solution-flex-container {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    .landing-page {
      padding-top: 4rem;
      width: 50%;
      margin-left: 2%;
    }

  .app-feature-flex {
    width: 80%;
  }


    .project-summary, .research-sub-section,
    .information-arch-sub-section,
    .wireframe-flex-container,
    .branding, .hi-fi-testing-intro,
    .a-b-testing-content,
    .hi-fi-testing-content,
    .hi-fi-testing-changes {
      width: 90%;
    }


/* All sections row-reversed showing
content on right side */
    .user-survey-flex-container,
    .target-audience-flex-container,
    .user-flow-flex-container,
    .early-testing-flex-container,
    .logo-flex-container,
    .testing-2-flex-container {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }


/* All sections showing content on left side,
plus moodboard because image comes before text */
    .competitive-analysis-flex-container,
    .user-stories-flex-container,
    .wireframe-flex-container,
    .moodboard-flex-container,
    .color-typography-flex-container,
    .testing-1-flex-container,
    .testing-3-flex-container {
      width: 100%;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }

/* content on right and left side */
    .the-problem-solution,
    .target-audience-content,
    .user-flow-content,
    .early-testing-content,
    .branding-content,
    .color-typography-content,
    .logo-content,
    .a-b-testing-content, .testing-1-content,
    .testing-2-content, .testing-3-content {
      width: 50%;
      max-width: 650px;
    }

    .user-survey-content {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      flex-grow: 2;
      width: 70%;
      max-width: 650px;
      margin-left: 10%;
    }

    .bar-graph {
      width: 90%;
    }

    .storage-products, .storage-reasons {
      margin: 3%;
    }

    /* .demographics {
      padding: 3rem 0 2rem 0;
    } */

    .storage-icon-text-1,
    .storage-icon-text-2,
    .storage-icon-text-3,
    .storage-icon-text-4,
    .storage-icon-text-5 {
      width: 30%;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      padding: 2rem 2rem 2rem 0;
    }

    .user-trends, .storage-trends-flex-container,
    .demographics {
      width: 100%;
    }

    figure.storage-bar-graph {
      width: 80%;
      margin: 0 auto;
    }

    .storage-trends-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
    }

    .storage-bar-graph img {
      margin-top: 2rem;
    }

    .storage-icon-text-1,
    .storage-icon-text-2,
    .storage-icon-text-3,
    .storage-icon-text-4,
    .storage-icon-text-5 {
      /* width: 20%; */
      padding: 1rem 1rem 1rem 1rem;
    }

    .persona-content {
      width: 50%;
      max-width: 650px;
      margin: 0;
    }

    .competitive-analysis-content,
    .user-stories-content {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      width: 50%;
    }

    .hi-fi-testing-intro,
    .hi-fi-testing-sub-section,
    .a-b-testing-content,
    .hi-fi-testing-content,
    .prototype-intro {
      width: 50%;
      margin-left: 5%;
    }


/* figures on right side */
    .user-survey-figure {
      flex-grow: 1;
    }



/* Figures on left side */

    .user-flow-figure,
    .branding-figure,
    .logo-figure {
      width: 40%;
      margin-right: 6rem;
      flex-grow: 1;
    }

    .branding-figure {
      margin-top: 3rem;
      flex-grow: 1;
    }

    .fig-row-users {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      width: 15%;
      flex-grow: 1;
    }

    .user-survey-img {
      visibility: visible;
      width: 100%;
      height: auto;
      flex-grow: 1;
    }

    .user-story {
      margin-top: 3rem;
    }

    .user-story img {
      width: 50%;
      margin: 0 auto;
      /* padding-bottom: 2rem; */
    }

    .fig-row-stories {
      width: 40%;
    }

    p.large-stat {
      margin-top: 2rem;
    }

    .competitors {
      width: 30%;
    }

    .industry-data-cluster {
      width: 75%;
    }

    .fig-row-competitive {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      width: 35%;
      margin: 0 0 0 8rem;
    }

    .user-stories-content,
    .branding-content,
    .color-typography-content {
      padding-top: 7rem;
    }

    .persona-icon {
      width: 11rem;
      margin: 3rem auto;
    }

    .persona-icon-2 {
      margin: 0 0 0 8rem;
    }

    .persona-group-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      width: 100%;
      margin: 0 auto;
    }

    .persona-1, .persona-2 {
      /* flex-grow: 1; */
      width: 35%;
      margin: 3rem auto;
    }

    .persona-text {
      margin-top: 0;
      padding-top: 0;
    }

    .user-flow-figure {
      margin-top: 0rem;
    }

    .wireframe-flex-container {
     padding: 1rem;
     display: flex;
     display: -webkit-flex;
     flex-direction: row;
     -webkit-flex-direction: row;
     flex-wrap: wrap;
     -webkit-flex-wrap: wrap;
     margin-bottom: 12rem;
     width: 90%;
   }

   .paper-prototype {
     padding: 0;
   }

   .wireframe-content {
    width: 50%;
   }

   .wireframe-figure {
     width: 45%;
     padding-top: 8rem;
     margin-left: 4rem;
     flex-grow: 1;
   }

   .vertical-arrow {
     visibility: hidden;
   }

   .arrow {
     width: 14%;
     margin: 5rem 0 0 2rem;
   }

   .rotated-arrow {
     height: 0;
     transform: none;
     margin: 0 auto;
   }

   .curved-arrow {
     visibility: visible;
      transform: rotate(-45deg);
   }

   .early-testing-fig-before,
   .early-testing-fig-after {
     margin: 0;
   }

   .testing-2-before,
   .testing-2-after {
     width: 40%;
   }

   .testing-2-after {
     margin-left: 9rem;
   }

   .color-typography-figure {
     width: 35%;
     flex-grow: 1;
   }

   .color-palette.project-image {
     width: 80%;
     margin: auto;
   }

    .wireframe-group-flex-container {
      padding: 1rem;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
      width: 100%;
      justify-content: center;
   }

   .a-b-results {
      width: 50%;
      margin: 0 auto;
    }

    .early-testing-fig-flex-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 0 auto;
    }

    .early-testing-fig-flex-container,
    .testing-1-fig-flex-container,
    .testing-3-fig-flex-container {
      width: 45%;
      flex-grow: 1;
      margin-left: 3rem;
     }


     .testing-2-flex-container,
     .testing-3-flex-container {
       margin-top: 4rem;
      }

     .testing-2-fig-flex-container {
       padding-top: 2rem;
       display: flex;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-flex-direction: row;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
       width: 45%;
       flex-grow: 1;
     }

     .user-testing-img {
       height: 100%;
     }

     .early-testing-before,
     .early-testing-after,
     .testing-1-after,
     .testing-1-before,
     .testing-3-after,
     .testing-3-before {
       display: flex;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-flex-direction: row;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
       padding-top: 2rem;
        width: 70%;
        margin: auto;
     }

     .testing-1-content,  .testing-2-content,
     .testing-3-content {
       padding-top: 12rem;
     }

     .arrow-vertical {
       display: flex;
       display: -webkit-flex;
       flex-direction: row-reverse;
       -webkit-flex-direction: row-reverse;
       flex-wrap: wrap;
       -webkit-flex-wrap: wrap;
     }

     /* Bus */

     .bus-paper-prototypes {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       grid-template-rows: 1fr;
       grid-gap: 10rem;
       text-align: left;
       padding: 4.5rem;
     }

     .bus-paper-prototype {
       width: 80%;
       margin-bottom: 3rem;
     }

     .competition-img img {
       max-width: 300px;
     }

     .design-decision-headers {
       padding-top: 8rem;
     }

}



@media screen and (min-width: 1199px) {
  html {
    font-size: 11px;
  }

  .desktop-menu-container {

  }


/* Section & container sizes */
  .site-container {
    width: 100%;
    /* max-width: 1440px; */
    margin: 0 auto;
  }

  .container section:not(:first-child) {
      margin-bottom: 15rem;
  }

  .container section section:last-child {
    margin-bottom: 0;
  }

  .project-card {
    width: 75%;
    margin: auto;
  }

  .design-steps {
    max-width: 110rem;
    margin: auto;
  }

  .step-1-2, .step-3-4 {
    margin-bottom: 0;
  }

  .step-1, .step-2, .step-3, .step-4 {
    padding: 0 5rem 5rem 0;
    margin-left: 6rem;
    max-width: 500px;
  }

  .review-container {
    max-width: 1400px;
    margin: auto;
    }


    /* Project starts here  */

    .user-survey-content {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      flex-grow: 2;
      width: 60%;
      max-width: 650px;
      margin-left: 8%;
    }

    .project-intro {
      padding-top: 4rem;
      width: 50%;
    }


    .summary-hero {
      margin-bottom: 3rem;
    }

    .summary-list-flex-group {
      margin-bottom: 4rem;
    }

    .industry-data-cluster {
      width: 70%;
    }

   figure.storage-bar-graph {
      width: 65%;
    }

    .storage-products, .storage-reasons {
      margin: 0;
    }

    .storage-reasons {
      margin-right: 2%;
    }

    .fig-row-stories {
      margin-left: 4rem;
    }

    .wireframe-figure {
    padding-top: 10rem;
    }

    .landing-page {
      width: 40%;
      margin: auto;
    }

    .conclusion {
      width: 50%;
      margin: 0 auto;
    }

    .problem-solution, .design-process-current {
      width: 50%;
      margin: auto;
    }


}



@media screen and (min-width: 1440px) {

/* all sections that don't have to be full width */
    .project-summary, .research-sub-section,
    .information-arch-sub-section,
    .wireframe-flex-container,
    .branding, .visual-design, .hi-fi-testing-intro,
    .a-b-testing-content,
    .hi-fi-testing-content,
    .hi-fi-testing-changes {
      width: 76%;
    }

    .hi-fi-testing-intro,
    .a-b-testing-content,
    .hi-fi-testing-content,
    .prototype-intro {
      margin-left: 15%;
      width: 50%;
    }


    .the-problem-solution,
    .target-audience-content,
    .user-flow-content,
    .early-testing-content,
    .branding-content,
    .color-typography-content,
    .logo-content,
    .a-b-testing-content, .testing-1-content,
    .testing-2-content, .testing-3-content {
      width: 40%;
      max-width: 650px;
      flex-grow: 1;
    }


}

@media screen and (min-width: 900px) {
  #hero {
    width: 80vw;
    height: 100vh;
  }
  .scroll-down-arrow {
    bottom: 0;
  }
}
