@media screen and (min-width: 575px) {

  .site-container {
    width: 100%;
  }

  .spacer {
    height: 10rem;
  }

  section {
    width: 70%;
    margin: auto;
  }

  .teal-circle {
    visibility: hidden;
  }

  .featured-work {
    width: 98%;
    margin: auto;
  }

  .review {
    width: 100%;
    margin: auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
  }

  .hero p {
    padding-right: 35%;
    padding-bottom: 10rem;
  }

  .container section {
    margin-bottom: 10rem;
  }

  .container section section:last-child {
    margin-bottom: 0;
  }

  .project-card {
    width: 100%;
    display: flex;
  }

  .design-steps {
    display: flex;
    flex-direction: column;
  }

  .step-1-2, .step-3-4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .design-steps {
    background-image: url(teal-circle-no-shadow.svg);
    background-size: 30rem;
    background-position: center;
    background-repeat: no-repeat;
  }

    .review-container {
      padding: 4rem 6rem 4rem 6rem;
      margin: auto;
      }

    blockquote {
      width: 80%;
      margin: auto;
      padding-top: 3rem;
    }

    .reviewer {
      width: 80%;
      margin-top: 1.5rem;
    }


    .quotation-mark-left, .quotation-mark-right {
      width: 2.4rem;
    }

    .quotation-mark-left {
      float: left;
      margin-left: 6rem;
      margin-top: 3rem;
    }

    .quotation-mark-right {
      float: right;
    }

    button {
      width: 30%;
    }

    .footer ul {
      padding-top: 2rem;
    }

    /* About page starts here */

    /* Image optimization */
      .headshot-sm {
        display: none;
      }

      .headshot-lg {
        display: block !important;
        opacity: 0.5;
      }

      /* brazil is in next breakpoint */


      .iceland-sm {
        display: none;
      }

      .iceland-lg {
        display: block !important;
      }

      .hynish-sm {
        display: none;
      }

      .hynish-lg {
        display: block !important;
      }

      .rga1-sm {
        display: none;
      }

      .rga1-lg {
        display: block !important;
      }

      .rga2-sm {
        display: none;
      }

      .rga2-lg {
        display: block !important;
      }

      .aerial-sm {
        display: none;
      }

      .aerial-lg {
        display: block !important;
      }




}


@media screen and (min-width: 991px) {
  html {
    font-size: 11px;
  }

/* Section & container sizes */
  .site-container {
    width: 100%;
  }

  .container section:not(:first-child) {
      margin-bottom: 15rem;
  }

  .container section section:last-child {
    margin-bottom: 0;
  }

  .flex-hero {
    display: flex;
    flex-direction: row;
    height: 50rem;
    background-color: green;
  }

  .hero p {
    padding-right: 0;
    padding-bottom: 10rem;
  }

  .design-process {
    width: 75%;
  }

  .footer  {
    width: 100%;
  }

/* hero content starts here */
.hero-content {
    width: 50%;
    flex-grow: 1;
    background-color: purple;
  }

  .hero-image {
    flex-grow: 1;
    display: flex;
    background-color: red;
  }

  .hero-image img {
    visibility: visible;
  }

  .scroll-down-arrow {
    width: 100%;
    background-color: teal;
  }

/* Design process content starts here */
  .design-steps {
    background-image: url(teal-circle-no-shadow.svg);
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  .step-1-2, .step-3-4 {
    margin-bottom: 3rem;
  }

  .step-1, .step-2, .step-3, .step-4 {
    padding: 0 4rem 4rem 0;
    margin-left: 5rem;
  }

  .step-2, .step-4 {
    margin-left: 5rem;
  }

/* review content starts here */
  .review {
    width: 100%;
    display: inline-block;
    margin: 0;
  }

  .review-container {
    position: relative;
    display: block;
    padding: 6rem 9rem 6rem 9rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .review-1 {
    max-width: 120rem;
  }

  /* footer content starts here */
  .back-to-top-arrow  {
    visibility: hidden;
  }

  /* About content starts here */

  .brazil-sm {
    display: none;
  }

  .brazil-lg {
    display: block !important;
  }



}

@media screen and (min-width: 1199px) {
  html {
    font-size: 12px;
  }

/* Section & container sizes */
  .site-container {
    width: 100%;
  }

  .container section:not(:first-child) {
      margin-bottom: 15rem;
  }

  .container section section:last-child {
    margin-bottom: 0;
  }

  .design-steps {
    max-width: 110rem;
    margin: auto;
  }

  .step-1-2, .step-3-4 {
    margin-bottom: 0;
  }

  .step-1, .step-2, .step-3, .step-4 {
    padding: 0 5rem 5rem 0;
    margin-left: 10rem;
  }

  .review-container {
    max-width: 1400px;
    margin: auto;
    }

  }
