.mobile-logo {
  width: 4em;
  transition: 0.2s ease-in-out;
}

.mobile-menu {
  float: right;
  padding-top: .2em;
  cursor: pointer;
}

.mobile-menu-bar-1,
.mobile-menu-bar-2,
.mobile-menu-bar-3 {
  width: 2.8em;
  height: 0.25em;
  background-color: #282828;
  margin: 0.6em 0;
  transition: 0.4s;
  border-radius: 2px;
}

.active-mobile-menu-bar .mobile-menu-bar-1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 4px);
  transform: rotate(-45deg) translate(-7px, 4px);
  background-color: #fdfdfd;
}

.active-mobile-menu-bar .mobile-menu-bar-2 {
  opacity: 0;
}

.active-mobile-menu-bar .mobile-menu-bar-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
  background-color: #fdfdfd;
}

.full-width-no-margin {
  margin-top: -2em;
  margin: -2em -6% 0 -6%;
  padding: 2em 6% 0 6%;
}

.mobile-menu-list {
  height: 0;
  opacity: 0;
  visibility: hidden;
  color: #fdfdfd;
  text-align: center;
  /* margin-top: 10rem */
}

.open-mobile-menu-list {
  list-style: none;
  height: 100%;
  letter-spacing: 0.1em;
  opacity: 1;
  visibility: visible;
}

.open-mobile-menu-list li {
  cursor: pointer;
  font-size: 4em;
  letter-spacing: 0.05em;
  line-height: 2em;
}

.hidden {
  opacity: 0;
}

.open-mobile-menu {
  background-color: #18a2a2;
  color: #fdfdfd;
  transition: background-color 0.6s linear;
  height: 100vh;
}

.mobile-menu-list-container {
  margin-top: 2rem;
  display: none;
}

.open-mobile-menu-list-container {
  display: block;
}

.mobile-menu-list a {
  text-decoration: none;
  color: inherit;
}

/* About mobile menu */

.about-hero .mobile-menu-container {
  padding: 2em 6% 0 6%;
}

header {
  position: fixed;
  background-color: #FCFCFC;
  padding: 3% 6% 3% 6%;
  width: 100%;
}

.spacer {
  height: 6rem;
}
