@font-face {
font-family: "Sand Dunes";
src: url("../assets/fonts/Sand_Dunes.otf");
src: url("../assets/fonts/Sand_Dunes.svg") format("svg");}


* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #F5F5F5;
  color: #282828;
  font-family: 'Assistant', sans-serif;
  letter-spacing: .02rem;
}

h1 {
  font-family: 'Assistant', sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 6rem;
  padding-bottom: 3rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 4.2rem;
  padding-bottom: 3rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: .36rem;
  line-height: 3.2rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
  text-align: left;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: .18rem;
  text-transform: uppercase;
}


h5 {
  font-family: 'Sand Dunes', 'Gilda Display', serif;
  font-size: 2.5rem;
  padding-bottom: 1.1rem;
  margin: 0 1.5rem 0 1.5rem;
}

.center-headers {
  text-align: center;
}

h1 span {
  color: #18A2A2;
  /* teal color */
  /* font-weight: 600; */
}

h2 span {
  color: #18A2A2;
  /* teal color */
  font-weight: 600;
}

p {
  font-size: 1.9rem;
  line-height: 3.1rem;
  padding-bottom: 3rem;
}

p span {
  font-weight: 700;
}

.site-container {
  width: 100%;
}


section {
  background-color: #F5F5F5;
  /* height: 100vh; */
  display: block;
  margin: 0 auto;
  margin-top: 0;
  width: 90%;
}

.container section:not(:first-child) {
    margin-bottom: 8rem;
}

.container section section:last-child {
  margin-bottom: 0;
}

.review {
  width: 100%;
  margin: auto;
  background-color: #18A2A2;
}

.mobile-menu {
  float:right;
}

.hero {
  padding-top: 7rem;
  background-color: #F5F5F5;
  font-family: 'Assistant', sans-serif;
}

.hero p {
  padding-bottom: 7rem;
}

.hero-image {
  visibility: hidden;
}

.teal-circle {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

a .down-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.featured-work {
  background-color: #F5F5F5;
}


.project1, .project2{
    background-color: #E7E7E7;
    padding: .08rem;
    margin: .5rem;
    border-radius: .5rem;
    width: 100%;
}

.project2 {
  text-align: center;
  padding: 12rem 0 12rem 0;
}

.design-process {
  background-color: #F5F5F5;
}

.design-process h3 {
  font-size: 2.8rem;
  letter-spacing: .36rem;
  text-align: center;
  font-weight: 700;
  padding-bottom: 6rem;
}


.design-process p {
  font-size: 1.8rem;
  padding-bottom: 1.1rem;
  margin: 0 1.5rem 0 1.5rem;
}

.step-1, .step-2, .step-3, .step-4 {
  padding: 0 2rem 3rem 0;
}

.step-1, .step-3 {
  margin-right: 3rem;
}

blockquote p {
  font-size: 1.8rem;
  width: 100%;
  color: #FDFDFD;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: .5rem;
}

.review-container {
  padding: 4rem 0 4rem 0;
  margin-left: auto;
  margin-right: auto;
}

.reviewer {
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-top: 2rem;
  text-align: right;
}



.quotation-mark-left, .quotation-mark-right {
  width: 2rem;
}

.quotation-mark-left {
  margin-left: 2rem;
  margin-top: 1rem;
}

.quotation-mark-right {
  float: right;
  margin-left: 8rem;
  margin-right: 2rem;
}

.contact-group {
  background-color: #F5F5F5;
  text-align: center;
  padding-bottom: 15rem;
}

.contact {
  padding: 0 3rem 0 3rem;
}

.contact h2 {
  font-size: 3.9rem;
  font-family: "Gilda Display", serif;
  padding-bottom: 2rem;
}

.contact p {
  padding: 0 2rem 5rem 2rem;
}

button {
  border-radius: .4rem;
  background-color: #91DAD5;
  /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .1); */
  border: 0;
  font-family: "Assistant", sans-serif;
  padding: 1.6rem 0 1.6rem 0;
  margin-bottom: .5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .12rem;
  text-transform: uppercase;
  width: 80%;
}

.button-container {
  width: 100%;
  text-align: center;
}

.back-to-top-arrow {
  float: right;
  padding: 5rem 2rem 0 2rem;
}

.footer {
  text-align: center;
  width: 100%;
}

footer .footer-icons {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #E7E7E7;
}

.footer ul {
  padding-bottom: 1.5rem;
}

.footer li {
  display: inline-block;
}

.footer i {
  font-size: 3.5rem;
  padding: 0 0.5rem 0 0.5rem;
  color: rgba(130, 130, 130, 0.9);
  color: #828282;
  transition: 0.3s linear;
}

@media (hover: hover) {
  .footer i:hover {
    color: #91DAD5;
  }
}

.footer .footer-icons p {
  color: #828282;
  font-size: 1.5rem;
  line-height: 1.9rem;
  letter-spacing: .05rem;
}

/* About starts here */

.about-hero {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.about-hero-headshot {
  width: 100%;
}

.about-hero-content {
  width: 90%;
  margin: auto;
}


.about-nav {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.about-nav-menu {
  float: right;
  padding-top: 5%;
}

.about-paragraph {
  padding-bottom: 0;
}

.quote {
  margin-left: 1rem;
  padding-left: 2rem;
  border-left: 7.5px solid #18A2A2;
  padding-bottom: 0;
}

.about-image {
  padding-top: 2rem;
  width: 100%;
}

.travel-img {
  display: none;
}

figure {
  margin-bottom: 2rem;
}

figcaption {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: .02rem;
  padding-bottom: 1rem;
}

.section-header {
  height: 13.9rem;
  margin-left: -1rem;
  padding-bottom: 1rem;
}


/* Project starts here */


.project-image {
  border-radius: .3rem;
  width: 100%;
  margin-top: 2rem;

}

/* .product-shot {
  margin-left: -6%;
  margin-right: -6%;
  width: 112%;
} */

.project-nav {
  display: flex;
}

.mobile-menu {
  height: 5em;
}

.product-logo {
  height: 17rem;
  padding: 2rem 1.2rem 4rem 0;
}

.project-tagline {
  font-size: 2.2rem;
  line-height: 3.5rem;
  padding: 0 1rem 0 1rem;
}

.summary-hero {
  padding-bottom: 4rem;
}

.header-spec-list {
  color: #18A2A2;
}

.summary-list {
  text-align: center;
  margin-top: 2rem;
}

.summary-list li {
  padding-bottom: 0;
}

.summary-list h3 {
  padding-bottom: 1rem;
}

li {
  font-size: 1.9rem;
  line-height: 3.2rem;
  padding-bottom: 1rem;
}

li:last-child {
  padding-bottom: 2rem;
}

li span {
  font-weight: 700;
}

.indent-list {
  margin-left: 3rem;
  list-style: disc;
}

.header-summary {
  padding-top: 4rem;
}

.the-problem p {
  padding-bottom: 1rem;
}

.the-solution p {
  padding-bottom: 1rem;
}

.user-survey, .research-highlights,
.competitive-analysis, .target-audience,
.personas, .user-stories, .user-flow,
.wireframe, .early-testing, .moodboard,
.color-typography, .logo, .a-b-testing,
.hi-fi-testing {
  margin-bottom: 7rem;
}


.teal-background {
  background-color: #18A2A2;
  padding-top: 1rem;
  margin-bottom: 1rem;
  color: #FDFDFD;
  width: 100%;
}

.research, .information-architecture {
  width: 100%;
}

.research-sub-section, .information-arch-sub-section {
  width: 90%;
  margin: 0 auto;
}

.wireframe-intro {
  width: 90%;
  margin: 0 auto;
}


.teal-background .project-image {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
}

.teal-background .research-highlight-container {
  width: 100%;
}

.teal-background .research-highlight-container .project-image {
  width: 40%;
}


.research-highlights h3 {
  padding-top:3rem;
}

.research-highlights p {
  font-size: 2.2rem;
}

.research-insights {
  width: 90%;
  margin: 0 auto;
}

.research-insights p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0;
  text-align: center;
}

.research-insights h3 {
  padding-bottom: 1rem;
}

.research-highlights .percentage-population {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
}

.research-highlight-container {
  display: block;
  text-align: center;
}

.project-image .research-highlights {
  margin: 0;
}

.list-heading {
  padding-bottom: 1rem;
}

.fig-row {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.fig-row img {
  margin: 0 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 30%;
}

.persona-text {
  padding: 2rem 0 2rem 0;
}

.persona-text h3 {
  padding-bottom: 0;
}

.persona-text p {
  padding-bottom: 2rem;
}

 .user-story img {
  margin: 0 1rem 2rem 1rem;
  width: 60%;
  margin-left: 3rem;
}

.user-story figcaption {
  margin: 0 .5rem 0 .5rem;
}

.user-story {
  width: 45%;
  text-align: center;
}

.arrow {
  height: 10rem;
  padding: 2rem 45% 2rem 45%;
  text-align: center;
}

.branding .project-image {
  padding-bottom: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
}

.section-summary {
  padding-bottom: 6rem;
}

.a-b-header {
  font-size: 2.2rem;
  color: #FDFDFD;
  padding: 2rem 0 1rem 0;
  margin-top: 1rem;
}

.teal-background p, .teal-background figcaption {
  margin: 0 6% 0 6%;
}

.testing-changes {
  margin-top: 3rem;
}

.teal-background figure {
  margin-bottom: 3rem;
}

.conclusion p {
  padding-bottom: 8rem;
}

.about-hero-content-moved {
  background-color: blue;
}
